<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar meu usuário</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center my-5">
        <div class="col-md-10 my-5">

            <div class="form-floating my-3">
                <input [(ngModel)]="user.nome" type="text" class="form-control" id="nome"
                    placeholder="Insira seu nome" />
                <label for="nome">Nome</label>
            </div>

            <div class="form-floating my-3">
                <input [(ngModel)]="user.usuario" type="text" class="form-control" id="usuario"
                    placeholder="Insira seu nome de usuário" />
                <label for="usuario">Usuário</label>
            </div>

            <div class="form-floating my-3">
                <input [(ngModel)]="user.foto" type="text" class="form-control" id="foto"
                    placeholder="Link da sua foto" />
                <label for="foto">Link da foto</label>
            </div>

            <div class="form-floating my-3">
                <input (input)="confirmSenha($event)" type="password" class="form-control" id="senha"
                    placeholder="Insira sua senha" />
                <label for="senha">Senha</label>
            </div>

            <div class="form-floating my-3">
                <input [(ngModel)]="user.senha" type="password" class="form-control" id="confirmSenha"
                    placeholder="Confirme sua senha" />
                <label for="confirmSenha">Confirmar Senha</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="tipo" aria-label="Seletor de tipo de usuário"
                    (change)="tipoUser($event)">
                    <option selected>Padrão</option>
                    <option value="1">Escritor</option>
                    <option value="2">Leitor</option>
                    <option value="3">Administrador</option>
                </select>
                <label for="tipo">Escolha o tipo de usuário</label>
            </div>

            <div class="d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-danger mx-2" routerLink="/inicio">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success mx-2" (click)="atualizar()">
                    Atualizar
                </button>
            </div>
        </div>
    </div>
</div>